// Libraries
@import "../components/bourbon/app/assets/stylesheets/bourbon";

// Admin Styles
@import "settings/_settings";

.block {
  display: block;
}

.italicize {
  font-style: italic;
}

label {
  vertical-align: baseline;
}

.ld-tab-wrap {
  margin-top: 30px;
}