.ld-iet-settings-wrap {
  padding: 20px;
  box-sizing: border-box; }

.ld-iet-header-wrap {
  background: #046380;
  padding: 20px;
  box-sizing: border-box; }
  .ld-iet-header-wrap > *:first-child {
    margin-top: 0; }
  .ld-iet-header-wrap > *:last-child {
    margin-bottom: 0; }

.ld-iet-page-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff; }

.ld-iet-sub-title {
  color: #f1f1f1; }

.uploaded-csv-information {
  margin-top: 10px;
  background: #dedede;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  display: none; }

.import-response-status {
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  background: #bbb; }
  .import-response-status[data-status="Pending"] {
    background: darkslateblue; }
  .import-response-status[data-status="Processing"] {
    background: orange; }
  .import-response-status[data-status="Finished"] {
    background: green; }
  .import-response-status[data-status="Error"] {
    background: red; }

.csv-upload-information-accordion-wrap {
  margin-top: 30px; }

.csv-upload-information-accordion-title {
  font-weight: 700;
  color: #ffffff;
  background: #046380;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .csv-upload-information-accordion-title:hover {
    background: #0085ba; }
  .csv-upload-information-accordion-title.active {
    background: #0085ba; }

.arrow-wrap-position-right {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 34px;
  height: 34px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .arrow-wrap-position-right svg {
    width: 34px;
    height: 34px; }
    .arrow-wrap-position-right svg path {
      fill: #fff; }
      .arrow-wrap-position-right svg path:last-child {
        fill: none; }

.csv-upload-information-example {
  font-style: italic;
  font-size: 0.875em;
  margin-bottom: 6px;
  color: #f1f1f1; }

.csv-upload-information-accordion-content {
  display: none; }

.csv-upload-information-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.csv-upload-information-item {
  margin-bottom: 20px;
  margin-right: 10px;
  background: #046380;
  color: #fff;
  padding: 10px;
  box-sizing: border-box; }
  .csv-upload-information-item:last-child {
    margin-right: 0; }

.csv-upload-information-value {
  background: #f1f1f1;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 0.875em;
  color: #222; }

.disabled-column-pattern {
  margin-top: 20px; }
  .disabled-column-pattern .ui-state-default {
    background: darkred !important;
    cursor: pointer !important; }
    .disabled-column-pattern .ui-state-default .csv-pat-close {
      background: orangered !important; }
      .disabled-column-pattern .ui-state-default .csv-pat-close:hover {
        background: #ff8f66 !important; }
      .disabled-column-pattern .ui-state-default .csv-pat-close svg {
        -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
        -moz-transform: translate(-50%, -50%) rotate(45deg) !important;
        -ms-transform: translate(-50%, -50%) rotate(45deg) !important;
        -o-transform: translate(-50%, -50%) rotate(45deg) !important;
        transform: translate(-50%, -50%) rotate(45deg) !important; }

.column-pattern, .disabled-column-pattern {
  overflow: hidden; }
  .column-pattern .ui-state-default, .disabled-column-pattern .ui-state-default {
    background: #0085ba;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: move;
    position: relative; }
    .column-pattern .ui-state-default.has-icon, .disabled-column-pattern .ui-state-default.has-icon {
      padding-right: 40px; }
    .column-pattern .ui-state-default .csv-pat-close, .disabled-column-pattern .ui-state-default .csv-pat-close {
      position: absolute;
      top: 50%;
      height: 100%;
      width: 30px;
      right: 0;
      background: lightblue;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .column-pattern .ui-state-default .csv-pat-close:hover, .disabled-column-pattern .ui-state-default .csv-pat-close:hover {
        background: orangered; }
      .column-pattern .ui-state-default .csv-pat-close svg, .disabled-column-pattern .ui-state-default .csv-pat-close svg {
        position: absolute;
        top: 50%;
        left: 50%;
        background: none !important;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 22px;
        height: 22px; }
        .column-pattern .ui-state-default .csv-pat-close svg path, .disabled-column-pattern .ui-state-default .csv-pat-close svg path {
          fill: #fff; }

.saving-notification {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  color: #fff;
  display: none; }
  .saving-notification .in-process, .saving-notification .saved {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px; }
  .saving-notification .in-process {
    background: orange; }
  .saving-notification .saved {
    background: green;
    display: none; }

@media (max-width: 800px) {
  .uploaded-csv-information {
    white-space: pre-wrap; } }

.block {
  display: block; }

.italicize {
  font-style: italic; }
